@model PAHWebApp.Models.PharmScrubLog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>PharmScrubLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModifiedUserId" class="control-label"></label>
                <input asp-for="ModifiedUserId" class="form-control" />
                <span asp-validation-for="ModifiedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDateTime" class="control-label"></label>
                <input asp-for="ModifiedDateTime" class="form-control" />
                <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ScrubLogId" />
            <div class="form-group">
                <label asp-for="BatchId" class="control-label"></label>
                <input asp-for="BatchId" class="form-control" />
                <span asp-validation-for="BatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <input asp-for="SourceId" class="form-control" />
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimId" class="control-label"></label>
                <input asp-for="ClaimId" class="form-control" />
                <span asp-validation-for="ClaimId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimLineSeq" class="control-label"></label>
                <input asp-for="ClaimLineSeq" class="form-control" />
                <span asp-validation-for="ClaimLineSeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScrubConfigId" class="control-label"></label>
                <input asp-for="ScrubConfigId" class="form-control" />
                <span asp-validation-for="ScrubConfigId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
